

.foodStorageMainBox{
    display:flex;
    margin-top: 50px;
    margin-bottom: 25px;
    gap:20px;
    height:20%;
}
.foodStorageRight{
    flex:4;
    align-items: stretch;
}
.foodStorageLeft{
    flex:1;
    align-items: stretch;
}

#foodStorageNavBar{
    height:35px;
    margin-bottom: 0px;
    margin-right: 10%;
}

#foodStorageOutlet{
    height:920px;
    margin-right: 10%;
    margin-bottom: 20px;
}