.myFoodStorageBar{
    background-color: lightgrey;
}

.expirationBar{
    background-color: lightgray;
}
.myFoodStorageCarousel{
    background-color: gray;
    height:150px;
    margin-bottom: 10px;
}
.expireCardArea{
    background-color: gray;
    height:75px;
}

.myFoodStorageCarousel{
    display:flex;
    gap:10px;
}