.topBar{
    background-color: lightgray;
}


#createButtonArea{
    background-color: black;
    color: white;
}

.mealCardCarousel{
    height:300px;
    display:flex;
    gap:10px;
}

.mealCreateTitleArea{
    background-color: lightgray;
}

.mealCreateEntryArea{
    height:200px;
    display:flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 25px;;
}


.mealCreateEntryBox{
    padding-left: 20px;
    background-color: grey;
    width:250px;
}

.formArea{
    padding-left:10px;
}

#editMyMealButton{
    color: white;
    text-align: left;
    background-color: black;
    width:800px;
    height:30px;
}