.mealPacket{
    min-width:240px;
    height:300px;
    background-color: gray;
}

.mealCardNameArea{
    height:40px;
    margin-bottom:10px;
    margin-top: 10px;
    padding-left: 10px;
}
.mealNumberRunDown{
    margin:0;
    padding-left: 10px;
}
.mealNumbers{
    margin:5px;
}

.mealCardButtonArea{
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#nutritionTitle{
    margin:0;
}
.nutriButtonArea{
    height:75px;
    margin:0;
    padding-left: 10px;
}
#groupsTitle{
    margin:0;
}
.mealTitle{
    margin:0;
}