#foodStorageStatsBox{

}

#statNameBanner{
    margin-top:0;
}

.statTags{
    background-color: black;
    color:white;
    padding:3px;
}

.statsHeaderBox{
    background-color: lightgrey;
    height:70px;
    margin-bottom:20px;
    padding-left: 20px;
}

.statsPieBox{
    background-color: lightgrey;
    height:620px;
    padding-top: 10px;
}
#pieChartOne{
    height:125px;
    margin: 25px 0;
}
#pieChartTwo{
    height:125px;
    margin: 25px 0;
}
#pieChartThree{
    height:125px;
    margin: 25px 0;
}

.statTitle{
    text-align: center;
}