#foodStorageStatsBox{

}

.statTags{
    background-color: black;
    color:white;
    padding:3px;
}

.statsHeaderBox{
    background-color: lightgrey;
    margin-bottom:25px;
}

.statsPieBox{
    background-color: lightgrey;
    height:400px;
    padding-top: 10px;
}
#pieChartOne{
    height:100px;
    margin: 25px 0;
}
#pieChartTwo{
    height:100px;
    margin: 25px 0;
}
#pieChartThree{
    height:100px;
    margin: 25px 0;
}