

/* This is the big box for the left side of the page */
.hqEntryForm{
    
}

.hqEntryBanner{
    background-color: lightgrey;
    padding-left: 50px;
}














/* This is the big box for the right side of the page */
.hqPreview{
   padding:50px; 
}

.hqPreviewBox{
    background-color: lightgray;
    width:500px;
    height: 500px;
    margin-left: 5px;
    padding-top:10px;
    
}

.nameBanner{
 background-color: gray;
 text-align: center;
}

#foodBanner{
    background-color: gray;
    padding-left: 20px;
}

#createHQButton{
    background-color: black;
    color:white;
    padding:10px 30px;
    margin-left:35%;
    
}