.hqHomeBody{
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
}

#hqHomeFoodTitle{
    text-align: center;
    font-size: 28px;
}

.hqHomeFoodPie{
    height: 300px;
    width:300px;
    background-color: gray;
}