{
    "users":[
        {
            "id":1,
            "name":"John Doe",
            "region":"Southeast"
        }
    ],
    "reserves":[
        {
            "id":1,
            "userId":1,
            "goal":92,
            "numOfPeople":4
        }
    ],
    "reserveMeals":[
        {
            "id":1,
            "mealPacketId":1,
            "reserveId":1,
            "dateAddedTimestamp":1650897496794
        }
    ],
    "mealPackets":[
        {
            "id":1,
            "calories":1200,
            "mealTypeId":1,
            "servings":4,
            "shelfLifeInDays":730,
            "name":"Spaghetti and Meatballs w/GreenBeans"
        }
    ],
    "mealTypes":[
        {
            "id":1,
            "name":"breakfast"
        },
        {
            "id":2,
            "name":"lunch"
        },
        {
            "id":3,
            "name":"dinner"
        },
        {
            "id":4,
            "name": "snack/other"
        }
    ],
    "nutritionTypes":[
        {
            "id":1,
            "name":"grain"
        },
        {
            "id":2,
            "name":"vegetable"
        },
        {
            "id":3,
            "name":"fruit"
        },
        {
            "id":4,
            "name":"meat/protein"
        },
        {
            "id":5,
            "name":"dairy"
        },
        {
            "id":6,
            "name":"other"
        }
    ],
    "mealNutrition":[
        {
            "id":1,
            "nutritionTypeId":1,
            "mealPacketId":1
        },
        {
            "id":1,
            "nutritionTypeId":2,
            "mealPacketId":1
        },
        {
            "id":1,
            "nutritionTypeId":4,
            "mealPacketId":1
        }
    ]
}